altair==4.2.0
anaconda-navigator==2.1.1
appdirs==1.4.4
argh==0.26.2
atomicwrites==1.4.0
backports.weakref==1.0.post1
bkcharts==0.2
black==19.10b0
blinker==1.4
boto==2.49.0
Brotli==1.0.9
brotlipy==0.7.0
cachetools==5.1.0
certifi==2021.10.8
click==8.0.3
clyent==1.2.2
comtypes==1.1.10
conda==4.10.3
conda-build==3.21.6
conda-verify==3.4.2
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.3.0
dash==2.3.1
dash-bootstrap-components==1.1.0
dash-colorscales==0.0.4
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2021.10.0
data==0.4
docx==0.2.4
docx2txt==0.8
dtale==2.2.0
entrypoints==0.3
et-xmlfile==1.1.0
Flask-Compress==1.11
flask-ngrok==0.0.25
fonttools==4.25.0
fpdf==1.7.2
funcsigs==1.0.2
gitdb==4.0.9
GitPython==3.1.27
inflection==0.5.1
kaleido==0.2.1
latex==0.7.0
llvmlite==0.37.0
locket==0.2.1
lz4==4.0.0
mccabe==0.6.1
missingno==0.4.2
mkl-fft==1.3.1
mkl-service==2.4.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater==0.2.1
nltk==3.6.5
pathspec==0.7.0
patsy==0.5.2
pep8==1.7.1
Pillow==8.4.0
pkginfo==1.7.1
plotly==5.7.0
ply==3.11
ppscore==1.2.0
protobuf==3.20.1
pyarrow==8.0.0
pycosat==0.6.3
pycurl==7.44.1
pydeck==0.7.1
pyls-spyder==0.4.0
Pympler==1.0.1
pyodbc===4.0.0-unsupported
pyreadline==2.1
pytest==6.2.4
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==228
PyYAML==6.0
scikit-image==0.18.3
scikit-learn-intelex==2021.20210714.120553
semver==2.13.0
shutilwhich==1.1.0
simplegeneric==0.8.1
sip==4.19.13
smmap==5.0.0
Sphinx==4.2.0
squarify==0.4.3
statsmodels==0.12.2
streamlit==1.9.0
strsimpy==0.2.1
tables==3.6.1
TBB==0.2
tempdir==0.7.1
tenacity==8.0.1
terminado==0.9.4
tzdata==2022.1
tzlocal==4.2
unicodecsv==0.14.1
urllib3==1.26.7
validators==0.19.0
webencodings==0.5.1
win-unicode-console==0.5
wincertstore==0.2
xarray==2022.3.0
xlwings==0.24.9
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0
